.theme-dark,
.theme-light {
  --background-primary: #252334;
  --background-primary-alt: #241b2f;
  --background-secondary: #241b2f;
  --background-secondary-alt: #262335;
  --background-modifier-border: #372b3d;
  --background-modifier-form-field: #372b3d;
  --background-modifier-box-shadow: none;
  --background-modifier-success: #7ee787;
  --background-modifier-error: #8b0000;
  --background-modifier-error-hover: #580000;
  --background-modifier-cover: #171520d2;
  --text-accent: #f97e72;
  --text-accent-hover: #ff7edb;
  --text-normal: #fff;
  --text-muted: #a7a4ac;
  --text-faint: #706a76;
  --text-error: red;
  --text-error-hover: #ff0;
  --text-highlight-bg: #d18616bb;
  --text-highlight-bg-active: #d1861655;
  --text-selection: #ffffff20;
  --text-on-accent: #fff;
  --interactive-normal: #614e83;
  --interactive-hover: #745d9e;
  --interactive-accent: #f97e72;
  --interactive-accent-hover: #ff7edb;
  --interactive-success: #7ee787;
}
.dropdown:focus,
input[type='text']:active,
input[type='text']:focus,
select:focus {
  box-shadow: none;
}
.checkbox-container:focus-within {
  outline-width: 1px;
}
.modal-container {
  backdrop-filter: blur(20px);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #706a76;
  border-radius: 19px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a7a4ac;
}

.mod-left-split {
  background-color: #231b2e;
}

.inline-title {
  color: #f7dd71;
}

.cm-header {
  color: #ee84d6;
}

.cm-inline-code {
  color: #91e7b8 !important;
}

list-bullet {
  color: #94eebc;
}

th {
  color: #94eebc !important;
}

.is-translucent:not(.is-fullscreen) .mod-top .workspace-tab-header-container {
  background-color: #231b2e !important;
}

.cm-strikethrough {
  text-decoration-color: #e88477;
  text-decoration-thickness: 0.16rem;
}

.HyperMD-header-1 {
  --h1-size: 37.00897225px;
}
.markdown-rendered h1 {
  font-size: 37.00897225px;
}
.HyperMD-header-2 {
  --h2-size: 32.181715px;
}
.markdown-rendered h2 {
  font-size: 32.181715px;
}
.HyperMD-header-3 {
  --h3-size: 27.9841px;
}
.markdown-rendered h3 {
  font-size: 27.9841px;
}
.HyperMD-header-4 {
  --h4-size: 24.334px;
}
.markdown-rendered h4 {
  font-size: 24.334px;
}
.HyperMD-header-5 {
  --h5-size: 21.16px;
}
.markdown-rendered h5 {
  font-size: 21.16px;
}
.HyperMD-header-6 {
  --h6-size: 18.4px;
}
.markdown-rendered h6 {
  font-size: 18.4px;
}
